*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    max-width: 1080px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    background-color: white;
}
.logo{
    font-size: 35px;
    color: rgb(40, 126, 126);
}
.logo span{
    text-transform: uppercase;
    color: #494949;
}
.menu{
    display: none;
}
.navbar{
    display: flex;
    gap: 1.5rem;
}
.navbar a{
    color: black;
    font-size: 18px;
    transition: .7s;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}
.navbar a:hover{

    border-top: 2px solid #6b6b6b;
    border-bottom: 2px solid #6b6b6b;
}

/* start hero section */

.hero{
    max-width: 1080px;
    margin: auto;
    padding: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text h1{
    font-size: 50px;
    width: 400px;
    color: #494949;
}

.hero-text h1 span{
    text-decoration: underline;
}

.para{
    padding-top: 2rem;
    color: #494949;
    width: calc(100% - 70px);
    line-height: 25px;
}
button{
    margin-top: 3rem;
    padding: 10px 30px;
    background-color: white;
    border: 2px solid #494949;
    font-size: 17px;
    cursor: pointer;
    transition: .7s;
}
button:hover{
    border: 2px solid white;
    border-top: 2px solid #494949;
    border-bottom: 2px solid #494949;
}




.hero-img{
    width: 350px;
    animation: 15s turnaround linear infinite;
}

@keyframes turnaround {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }

}


/* start skill section */

.skill-menu{
    max-width: 1080px;
    margin: 4rem auto;
}

.skill-menu h2{
    font-size: 30px;
    color: #494949;
    margin-bottom: 1.5rem;
    text-align: center;
}

.skills{
    border-top: 2px solid #d1d1d1;
    padding-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2.5rem 2rem;
}
.skill-item{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.skill-item img{
    max-width: 150px;
    margin: auto;
}
.lang-name{
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
.para-skill{
    line-height: 25px;
    color: #494949;
    text-align: center;
}